.page__button {
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background ease .5s;
}

.page__button:hover {
    background: #959e96;
    color: #FFFFFF;
}

.page__button-current {
    background: #5c695e;
    color: #FFFFFF;
}

@media screen and (min-width: 0) and (max-width: 424px) {
    .page__button {
        font-size: .6rem;
        padding: .5rem .7rem;
    }
}